
/* Start: CSS for sticky headers */
/* Based on example at https://www.w3schools.com/howto/howto_js_sticky_header.asp */

.header {
  padding: 10px 16px;
}

.content {
  padding: 0px;
}

.sticky {
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 1;
}

.sticky + .content {
  padding-top: 50px;
}
/* End: CSS for scrollable tables with fixed header rows */