{% extends "layout.html" %}
{% block content %}
<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<ul class="w3-ul w3-center w3-hoverable">
    <li>
        <h2>
            Current Features</h2>
    </li>
    <li>Display student information</li>
    <li>Upload class schedules</li>
    <li>Display class schedules</li>
    <li>Display class attendance</li>
    <li>Record class attendance</li>
    <li>Download class attendance rosters</li>
    <li>Record daily attendance</li>
    <li>Display daily attendance</li>
    <li>Record interventions</li>
    <li>Display interventions</li>
    <li>Calculate TMI interventions</li>
</ul>

<ul class="w3-ul w3-center w3-hoverable">
    <li>
        <h2>
            Future Features</h2>
    </li>
    <li>Send emails for interventions</li>
    <li>User login for staff</li>
    <li>Support TMI attendance</li>
    <li>Schedule learning lab interventions</li>
    <li>Record ER interventions</li>
    <li>And more!</li>
</ul>

{% endblock content %}