{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield) %}
<div class="w3-third">
  {{ formfield.label(class="w3-text-green w3-large") }}
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-select w3-border") }}
  {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
  <div class="w3-third">
    <h2>{{title}}</h2>
  </div>
  <div>
    <input type="text" class="w3-third w3-margin w3-padding" size="25" id="searchFilter"
      placeholder="Search by student name...">
  </div>
</div>

<div class="w3-bar w3-blue">
  <button id='button_ClassAttendance' class="w3-bar-item w3-button tablink"
    onclick="openTable(event, 'ClassAttendance', 'Attendance')">Class
    Attendance</button>
  <button id='button_LearningLabAttendance' class="w3-bar-item w3-button tablink"
    onclick="openTable(event, 'LearningLabAttendance', 'Attendance')">Learning Lab
    Attendance</button>
</div>



<form class="w3-container w3-padding-large" method="POST"
  action="{{ url_for('classAttendance_bp.displayClassAttendanceLog') }}" enctype="multipart/form-data">
  {{ classAttendanceForm.hidden_tag() }}
  <div class="w3-row-padding">
    {{ macro_display_formfield(classAttendanceForm.teacherName) }}
    {{ macro_display_formfield(classAttendanceForm.className) }}
    {{ macro_display_formfield(classAttendanceForm.classDate) }}
  </div>

  <table class="w3-table w3-table-border w3-table-bordered w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th scope="col">Class Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Attendance Code</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for studentAttendanceForm, studentFixedFields in zip(classAttendanceForm.classMembers, classAttendanceFixedFields) %}
      {{ studentAttendanceForm.hidden_tag() }}
      {% if studentFixedFields.ClassSchedule.learningLab == False %}
      <tr data-rowType="infoTab" data-tabName="ClassAttendance">
        <td> {{ studentFixedFields.ClassSchedule.className }}</td>
        <td> {{ studentFixedFields.ClassSchedule.startTime.strftime('%-I:%M') }}</td>
        <td> {{ studentFixedFields.ClassSchedule.endTime.strftime('%-I:%M') }}</td>
        <td> {{ studentFixedFields.ClassSchedule.Student.firstName }}</td>
        <td> {{ studentFixedFields.ClassSchedule.Student.lastName }} </td>
        <td>
          {% for subfield in studentAttendanceForm.attendanceCode %}
          {{ subfield(class="w3-radio") }}
          {{ subfield.label }}
          {% endfor %}
        </td>
        <td>
          {{ studentAttendanceForm.comment(class="w3-input", size="30") }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      {% for studentAttendanceForm, studentFixedFields in zip(classAttendanceForm.classMembers, classAttendanceFixedFields) %}

      {% if studentFixedFields.ClassSchedule.learningLab == True %}
      <tr data-rowType="infoTab" data-tabName="LearningLabAttendance" style="visibility:collapse">
        <td> {{ studentFixedFields.ClassSchedule.className }}</td>
        <td> {{ studentFixedFields.ClassSchedule.startTime.strftime('%-I:%M') }}</td>
        <td> {{ studentFixedFields.ClassSchedule.endTime.strftime('%-I:%M') }}</td>
        <td> {{ studentFixedFields.ClassSchedule.Student.firstName }}</td>
        <td> {{ studentFixedFields.ClassSchedule.Student.lastName }} </td>
        <td>
          {% for subfield in studentAttendanceForm.attendanceCode %}
          {{ subfield(class="w3-radio") }}
          {{ subfield.label }}
          {% endfor %}
        </td>
        <td>
          {{ studentAttendanceForm.comment(class="w3-input", size="30") }}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
  </table>

</form>



<!-- Script for page tabs -->
<script type="text/javascript" src="{{ url_for('static', filename="js/pageTables.js") }}"></script>


<!-- Search Filter -->
<script type="text/javascript" src="{{ url_for('static', filename="js/searchFilters.js") }}"></script>
<script>
  var tableBody = document.getElementById('filteredTable');
  var searchFilter = document.getElementById('searchFilter');
  searchFilter.firstNameCellPosition = 3;
  searchFilter.lastNameCellPosition = 4;
  searchFilter.addEventListener('keyup', filterFirstLastNames);
</script>


<!-- Reload page to last loaded tab -->
<script type='text/javascript'>
  document.addEventListener("DOMContentLoaded", function (event) {
    selected_tab = 'Attendance_selected_tab';
    var selectedTab = sessionStorage.getItem(selected_tab);
    if (selectedTab) {
      document.getElementById("button_" + selectedTab).click();
    } else {
      document.getElementById("button_ClassAttendance").click();
    }
  });
</script>


<script>
  // Keep track of the scroll position so the page reloads to the same position 
  // after submitting attendance (prevents page from reloading to top of page 
  // when updating attendance records further down the page)
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };

  // Set event listerners for updates to radio buttons
  var radioButtons = document.querySelectorAll("input[type=radio]");
  for (i = 0; i < radioButtons.length; i++) {
    radioButtons[i].addEventListener("click", function () { submitUpdate(event); });
  }
  // Set event listerners for updates to comment fields
  var commentFields = document.querySelectorAll('input[type=text]:not([id="searchFilter"]');
  for (i = 0; i < commentFields.length; i++) {
    commentFields[i].addEventListener("blur", function () { submitUpdate(event); });
  }

  // Set event listeners for updates to teacher, class, and class date filter selections
  var teacherNameElement = document.getElementById("teacherName")
  teacherNameElement.addEventListener("change", function () { filterUpdateAndSubmit(event); });
  var classNameElement = document.getElementById("className")
  classNameElement.addEventListener("change", function () { filterUpdateAndSubmit(event); });
  var classDateElement = document.getElementById("classDate")
  classDateElement.addEventListener("change", function () { filterUpdateAndSubmit(event); });

  // Update filterUpdateFlag to indicate change to filter settings and submit form
  function filterUpdateAndSubmit(event) {
    console.log('Filter change detected!')
    console.log(document.getElementById("updateFiltersFlag").value)
    document.getElementById("updateFiltersFlag").value = 'updated';
    console.log(document.getElementById("updateFiltersFlag").value)
    trigger_field = document.getElementById(event.target.id);
    console.log('trigger_field = ' + trigger_field);
    form = trigger_field.form;
    console.log('trigger_form = ' + form)
    form.submit();
  }

  // Submit update to attendance on changes to attendanceCode or comment
  function submitUpdate(event) {
    // Identify the form which was updated
    trigger_field = document.getElementById(event.target.id);
    console.log('trigger_field = ' + trigger_field);
    form = trigger_field.form;
    console.log('trigger_form = ' + form)

    // Update the hidden fields to capture the teacher name, class name, and class date
    event_id = event.target.id;
    event_split_id = event_id.split('-');
    classNameHiddenInput_id = event_split_id[0] + '-' + event_split_id[1] + '-updateFlag';
    console.log(classNameHiddenInput_id)
    document.getElementById(classNameHiddenInput_id).value = 'updated';
    form.submit();
  }

</script>

{% endblock content %}