{% extends 'layout.html'%}
{% block content %}
<h2> Class Attendance </h2>

{% macro macro_display_formfield(formfield) %}
<div class="form-group">
  {{ formfield.label(class="form-control-label") }}
  {% if formfield.errors %}
  {{ formfield(class="form-control form-control-sm is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="form-control form-control-sm") }}
  {% endif %}
</div>
{% endmacro %}


<form method="POST" action="{{ url_for('displayClassAttendanceLog') }}" enctype="multipart/form-data">
  {{ classAttendanceForm.hidden_tag() }}
  <div class="row">
    {{ macro_display_formfield(classAttendanceForm.teacherName) }}
    {{ macro_display_formfield(classAttendanceForm.className) }}
    {{ macro_display_formfield(classAttendanceForm.classDate) }}
  </div>
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Class Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Attendance Code</th>
        <th scope="col">Comment</th>
      </tr>
    </thead>
    <tbody>
      {% for studentAttendanceForm, studentFixedFields in zip(classAttendanceForm.classMembers, classAttendanceFixedFields) %}
      {{ studentAttendanceForm.hidden_tag() }}
      <tr>
        <td> {{ studentFixedFields.ClassSchedule.className }}</td>
        <td> {{ studentFixedFields.ClassSchedule.startTime.strftime('%-I:%M') }}</td>
        <td> {{ studentFixedFields.ClassSchedule.endTime.strftime('%-I:%M') }}</td>
        <td> {{ studentFixedFields.ClassSchedule.Student.firstName }}</td>
        <td> {{ studentFixedFields.ClassSchedule.Student.lastName }} </td>
        <td>
          {% for subfield in studentAttendanceForm.attendanceCode %}
          {{ subfield }}
          {{ subfield.label }}
          {% endfor %}
        </td>
        <td>
          {{ studentAttendanceForm.comment(class="form-control form-control-sm", size="30") }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

<script>
  // Keep track of the scroll position so the page reloads to the same position 
  // after submitting attendance (prevents page from reloading to top of page 
  // when updating attendance records further down the page)
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };

  // Set event listerners for updates to radio buttons
  var radioButtons = document.querySelectorAll("input[type=radio]");
  for (i = 0; i < radioButtons.length; i++) {
    radioButtons[i].addEventListener("click", function () { submitUpdate(event); });
  }
  // Set event listerners for updates to comment fields
  var commentFields = document.querySelectorAll("input[type=text]");
  for (i = 0; i < commentFields.length; i++) {
    commentFields[i].addEventListener("blur", function () { submitUpdate(event); });
  }

  // Set event listeners for updates to teacher, class, and class date filter selections
  var teacherNameElement = document.getElementById("teacherName")
  teacherNameElement.addEventListener("change", function () { filterUpdateAndSubmit(event); });
  var classNameElement = document.getElementById("className")
  classNameElement.addEventListener("change", function () { filterUpdateAndSubmit(event); });
  var classDateElement = document.getElementById("classDate")
  classDateElement.addEventListener("change", function () { filterUpdateAndSubmit(event); });

  // Update filterUpdateFlag to indicate change to filter settings and submit form
  function filterUpdateAndSubmit(event) {
    console.log('Filter change detected!')
    console.log(document.getElementById("updateFiltersFlag").value)
    document.getElementById("updateFiltersFlag").value = 'updated';
    console.log(document.getElementById("updateFiltersFlag").value)
    trigger_field = document.getElementById(event.target.id);
    console.log('trigger_field = ' + trigger_field);
    form = trigger_field.form;
    console.log('trigger_form = ' + form)
    form.submit();
  }

  // Submit update to attendance on changes to attendanceCode or comment
  function submitUpdate(event) {
    // Identify the form which was updated
    trigger_field = document.getElementById(event.target.id);
    console.log('trigger_field = ' + trigger_field);
    form = trigger_field.form;
    console.log('trigger_form = ' + form)

    // Update the hidden fields to capture the teacher name, class name, and class date
    event_id = event.target.id;
    event_split_id = event_id.split('-');
    classNameHiddenInput_id = event_split_id[0] + '-' + event_split_id[1] + '-updateFlag';
    console.log(classNameHiddenInput_id)
    document.getElementById(classNameHiddenInput_id).value = 'updated';
    form.submit();
  }

</script>

{% endblock content %}