{% extends 'layout.html'%}
{% block content %}

<div class="w3-container w3-green w3-row">
  <div class="w3-third">
    <h2>{{title}}</h2>
  </div>
  <div>
    <input type="text" class="w3-third w3-margin w3-padding" size="25" id="searchFilter"
      placeholder="Search by student name...">
  </div>
  <div class="w3-rest w3-margin w3-padding-large">
    <a href="/dailyattendancelog/download" target="blank"><i class="fa fa-download fa-fw"></i>Download Daily Attendance
      Log</a>
  </div>
</div>

<table class="w3-table w3-bordered w3-striped w3-hoverable">
  <thead>
    <tr class="w3-blue">
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Absence Date</th>
      <th scope="col">Attendance Code</th>
      <th scope="col">Comment</th>
      <th scope="col">Log Entry Date</th>
      <th scope="col">Staff Last Name</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody id='filteredTable'>
    {% for DailyAttendanceLog in DailyAttendanceLogs %}
    <tr>
      <td scope="row">{{ DailyAttendanceLog.Student.firstName }}</td>
      <td>{{ DailyAttendanceLog.Student.lastName }}</td>
      <td>{{ DailyAttendanceLog.absenceDate.strftime('%-m/%-d/%Y') }}</td>
      <td>{{ DailyAttendanceLog.attendanceCode }}</td>
      <td>{{ DailyAttendanceLog.comment }}</td>
      <td>{{ DailyAttendanceLog.createDate.strftime('%-m/%-d/%Y') }}</td>
      <td>{{ DailyAttendanceLog.FacultyAndStaff.lastName}}</td>
      <td><button type="button" class="w3-btn w3-red"
          onclick="document.getElementById('deleteModal{{DailyAttendanceLog.id}}').style.display='block'">Delete</button>
      </td>
    </tr>


    <!-- Modal -->
    <div class="w3-modal" id="deleteModal{{DailyAttendanceLog.id}}">
      <div class="w3-container">
        <div class="w3-modal-content" style="width:50%">
          <header class="w3-container w3-red">
            <span onclick="document.getElementById('deleteModal{{DailyAttendanceLog.id}}').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <h2>Delete Daily Attendance Log?</h2>
          </header>
          <footer class="w3-container w3-margin-top w3-white w3-center">
            <div class="w3-bar">
              <form action="{{ url_for('dailyAttendance_bp.delete_DailyAttendanceLog', log_id=DailyAttendanceLog.id) }}"
                method="POST">
                <button type="button" class="w3-button w3-large"
                  onclick="document.getElementById('deleteModal{{DailyAttendanceLog.id}}').style.display='none'">Cancel</button>
                <input class="w3-button w3-red w3-large" type="submit" value="Delete">
              </form>
            </div>
          </footer>
        </div>
      </div>
    </div>
    {% endfor %}
  </tbody>
</table>

<!-- Search Filter -->
<script type="text/javascript" src="{{ url_for('static', filename="js/searchFilters.js") }}"></script>
<script>
  // Note: the table does not include the header rows
  var tableBody = document.getElementById('filteredTable');
  var searchFilter = document.getElementById('searchFilter');
  searchFilter.firstNameCellPosition = 0;
  searchFilter.lastNameCellPosition = 1;
  searchFilter.addEventListener('keyup', filterFirstLastNames);
</script>

{% endblock content %}