{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-select  w3-section") }}
    {% endif %}
</div>
{% endmacro %}


<div class="w3-container w3-green">
    <h2>{{title}}</h2>
</div>

<div class="w3-container">
    <form class="w3-container w3-padding-large" method="POST" action="{{ url_for('displayFetTools') }}"
        enctype="multipart/form-data">
        {{ UploadFetDataForm.hidden_tag() }}
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <legend class="w3-xlarge">FET Schedule Generator Tool</legend>
            <div class="w3-row-padding">
                {{ macro_display_formfield(UploadFetDataForm.yearOfGraduation, "w3-third") }}
                {{ macro_display_formfield(UploadFetDataForm.schoolYear, "w3-third") }}
                {{ macro_display_formfield(UploadFetDataForm.semester, "w3-third") }}
            </div>
            <div class="w3-row-padding">
                {{ macro_display_formfield(UploadFetDataForm.csvFetStudentInputFile, "w3-threequarter") }}
            </div>
            <div class="w3-row-padding">
                {{ macro_display_formfield(UploadFetDataForm.csvFetClassTeacherInputFile, "w3-threequarter") }}
            </div>
            <div class="w3-row-padding">
                {{ macro_display_formfield(UploadFetDataForm.csvFetTimetableInputFile, "w3-threequarter") }}
            </div>
            <div class="w3-row w3-padding-large">
                {{ UploadFetDataForm.submitFetDataForm(class="w3-btn w3-blue w3-large") }}
            </div>
        </fieldset>
    </form>
</div>

<div class="w3-container">
    <h4>Overview</h4>
    <p>This tool generates a schedule file based on the FET-generated timetable. The output file is in CSV format and
        can be
        imported
        into the "Schedules for Google Calendar" Google Sheet to create student schedules in Google Calendar.</p>

    <h4>Input Requirements</h4>
    <p><strong>Year of Graduation</strong></p>
    <p>Four-digit year denoting the year of graduation for the junior or senior class represented in the schedule</p>
    <p><i>Example: 2022</i></p>
    <p><strong>Schedule Year</strong></p>
    <p>Four-digit year denoting the calendar year for the schedule</p>
    <p><i>Example: 2020</i></p>
    <p><strong>Schedule Semester</strong></p>
    <p> Denotes whether the schedule is for the Fall or Spring semester </p>
    <p><i>Example: Fall</i></p>
    <p><strong>FET Student Input File</strong></p>
    <p>This file must match the student input file used to create the schedule in FET. This file is in CSV format with
        headings for Year, Group, and Subgroup. Students must be identified using this format:
        A12345678_LastName_FirstName
        where A12345678 represents the Chatt State A Number.</p>
    <p><i>Example: <a href="/static/fet_example_files/Example_FET_Student_Input_File.csv">FET Student Input File</a></i>
    </p>
    <p><strong>FET Class Teacher Input File</strong></p>
    <p>This file is used to populate the teacher name column. Create the csv file with two columns: <i>class</i> and
        <i>teacher last name.</i> Download and update the example file.</p>
    <p><i>Example: <a href="/static/fet_example_files/Example_FET_Class_Teacher_Input_File.csv">FET Class Teacher Input
                File</a></i></p>

    <p><strong>FET Timetable Input File</strong></p>
    <p>This file is the timetable file exported from FET in CSV format.</p>
    <p><i>Example: <a href="/static/fet_example_files/Example_FET_Timetable_Input_File.csv">FET Timetable Input
                File</a></i>
    </p>

    <h4>Output Files</h4>
    <p><strong>CSV Output File</strong></p>
    <p>This file is formatted for importing into the "Schedules for Google Calendar" Google Sheet. Important: The output
        file may
        require additional manual adjustments. For example, you may need to modify class days or class times due to
        class
        scheduling conflicts. These cases should be noted with a comment (e.g., Miss W, Late W, etc.)</p>
    <p><i>Example: <a href="/static/fet_example_files/Example_outputFile.csv">CSV Output File</a></i></p>
    <p><strong>JSON Output File</strong></p>
    <p>This file is an intermediate output file that may be useful in troubleshooting issues. It should contain
        a listing of all FET activities organized by student. For example, activities that are marked as
        mergedActivity=true
        were consolidated with one or more activities into a single row for a single class across multiple days.</p>
    <p><i>Example: <a href="/static/fet_example_files/Example_outputFile.json">JSON Output File</a></i></p>

    <h4>Generate Schedule File</h4>
    <p>After inputting all required data and files, press <strong>Generate Schedule File</strong>.
        If there are no errors, the output files will be displayed on another screen.</p>
    <h4>Troubleshooting</h4>
    <p><strong>Errors When Running</strong></p>
    <p>If you receive errors when generating the schedule files, carefully review the file inputs.
        The most likely errors are in the CSV files. As a test, run the tool using the example files.
        If they work, compare the format of the example files to the files you are using. Correct any
        errors and re-run the tool.</p>
    <p><strong>Missing or Inaccurate Schedule Data</strong></p>
    <p>If you discover missing or inaccurate data, trace the missing or inaccurate data in
        the JSON output file and the original FET input files. The class should be listed in these
        files. Correct any errors and re-run the tool.</p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
</div>

{% endblock content %}