{% extends 'layout.html'%}
{% block content %}
<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-panel"></div>

<ul class="w3-ul w3-center">
    <li>New: Hosted on Google Cloud!</li>
    <li>New: TMI Teacher Review working!</li>
    <li>New: TMI Final Approval displays TMI interventions!</li>
    <li>New: Download shortcuts for students, parents, master schedule</li>
    <li>
        <h2>Try these things out!</h2>
    </li>
    <li>Use the new search feature to quickly find students</li>
    <li>Assign an intervention (go to Students and press Intervention)</li>
    <li>Add a daily attendance entry (go to Students and press Attendance)</li>
    <li>Take attendance in class attendance</li>
    <li>Use Schedule Admin to download a roster</li>
    <li>View the notional master schedule</li>
</ul>

<ul class="w3-ul w3-center">
    <li>
        <h2>Tips</h2>
    </li>
    <li>Use Google Chrome on a full screen for best results</li>
    <li>Only notional junior schedules are included</li>
    <li>Notional class rosters are loaded for class dates between 8/3 and 8/7</li>
    <li>Staff login is not supported</li>
    <li>Emails are not enabled</li>
</ul>

{% endblock content %}