{% extends 'layout.html'%}
{% block content %}
<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-container w3-center w3-pale-green w3-display-container">
    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">X</span>
    <h2>Use Google Chrome for best results</h2>
</div>
<div class="w3-container w3-center">
    <h2>New: Create learning labs and track learning lab attendance</h2>
</div>

<div class="w3-container w3-center">
    <h2>Try logging in with your HCDE account</h2>
</div>
<div class="w3-panel"></div>

<div class="w3-row">
    <div class="w3-col s4">
        <p></p>
    </div>
    <div class="w3-col s4">
        <div class="w3-card-4 w3-dark-grey">
            <div class="w3-container w3-center">
                <h3>Login in to P2MT</h3>
                <div class="w3-container w3-pale-green">
                    <h5><strong>Quote of the Day</strong></h5>
                    <h5>I cannot teach anybody anything; I can only make them think.</h5>
                    <h6>Socrates</h6>
                </div>
                <div class="w3-section">
                    <a id="loginButton" class="w3-button w3-green" href="/login">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>


<ul class="w3-ul w3-center w3-border-0">
    <li>
        <h2>Try these things out!</h2>
    </li>
    <li>Review TMI in TMI Teacher Review</li>
    <li>Review TMI Final Approval for TMI interventions</li>
    <li>Download class rosters, students, parents, master schedule</li>
    <li>Use the new search feature to quickly find students</li>
    <li>Assign an intervention (go to Students and press Intervention)</li>
    <li>Add a daily attendance entry (go to Students and press Attendance)</li>
    <li>Take attendance in class attendance</li>
    <li>Use Schedule Admin to download a roster</li>
    <li>View the master schedule</li>
</ul>

<ul class="w3-ul w3-center w3-border-0">
    <li>
        <h2>Tips</h2>
    </li>
    <li>Use Google Chrome on a full screen for best results</li>
    <li>Staff login is not supported</li>
    <li>Emails are not enabled</li>
</ul>


{% endblock content %}