{% extends 'layout.html'%}
{% block content %}
<div class="w3-container w3-green w3-row">
  <div class="w3-third">
    <h2>{{title}}</h2>
  </div>
  <div>
    <input type="text" class="w3-third w3-margin w3-padding" size="25" id="searchFilter"
      placeholder="Search by student name...">
  </div>
  <div class="w3-rest w3-margin w3-padding-large">
    <a href="/masterschedule/download" target="blank"><i class="fa fa-download fa-fw"></i>Download Master Schedule</a>
  </div>
</div>

<table class="w3-table w3-bordered w3-striped w3-hoverable">
  <thead>
    <tr class="w3-blue">
      <th scope="col">Year</th>
      <th scope="col">Semester</th>
      <th scope="col">A#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Campus</th>
      <th scope="col">Class Name</th>
      <th scope="col">Teacher</th>
      <th scope="col">Online</th>
      <th scope="col">Ind Study</th>
      <th scope="col">Days</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Comment</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="filteredTable">
    {% for ClassSchedule in ClassSchedules %}
    <tr>
      <td scope="row">{{ ClassSchedule.schoolYear }}</td>
      <td>{{ ClassSchedule.semester }}</td>
      <td>{{ ClassSchedule.chattStateANumber }}</td>
      <td>{{ ClassSchedule.Student.firstName }}</td>
      <td>{{ ClassSchedule.Student.lastName }}</td>
      <td>{{ ClassSchedule.campus }}</td>
      <td>{{ ClassSchedule.className }}</td>
      <td>{{ ClassSchedule.teacherLastName}}</td>
      <td>{{ ClassSchedule.online }}</td>
      <td>{{ ClassSchedule.indStudy }}</td>
      <td>{{ ClassSchedule.classDays }}</td>
      <td>{{ ClassSchedule.startTime.strftime('%-I:%M') }}</td>
      <td>{{ ClassSchedule.endTime.strftime('%-I:%M') }}</td>
      <td>{{ ClassSchedule.comment }}</td>
      <td>
        <form action="{{ url_for('masterSchedule_bp.edit_ClassSchedule', log_id=ClassSchedule.id) }}" method="POST">
          <input class="w3-button w3-green" type="submit" value="Edit">
        </form>
      </td>
      <td><button type="button" class="w3-btn w3-red"
          onclick="document.getElementById('deleteModal{{ClassSchedule.id}}').style.display='block'">Delete</button>
      </td>
    </tr>


    <!-- Modal -->
    <div class="w3-modal" id="deleteModal{{ClassSchedule.id}}">
      <div class="w3-container">
        <div class="w3-modal-content" style="width:50%">
          <header class="w3-container w3-red">
            <span onclick="document.getElementById('deleteModal{{ClassSchedule.id}}').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <h2>Delete This Class Schedule Item?</h2>
          </header>
          <footer class="w3-container w3-margin-top w3-white w3-center">
            <div class="w3-bar">
              <form action="{{ url_for('masterSchedule_bp.delete_ClassSchedule', log_id=ClassSchedule.id) }}"
                method="POST">
                <button type="button" class="w3-button w3-large"
                  onclick="document.getElementById('deleteModal{{ClassSchedule.id}}').style.display='none'">Cancel</button>
                <input class="w3-button w3-red w3-large" type="submit" value="Delete">
              </form>
            </div>
          </footer>
        </div>
      </div>
    </div>

    {% endfor %}
  </tbody>
</table>

<!-- Search Filter -->
<script type="text/javascript" src="{{ url_for('static', filename="js/searchFilters.js") }}"></script>
<script>
  // Note: the table does not include the header rows
  var tableBody = document.getElementById('filteredTable');
  var searchFilter = document.getElementById('searchFilter');
  searchFilter.firstNameCellPosition = 3;
  searchFilter.lastNameCellPosition = 4;
  searchFilter.addEventListener('keyup', filterFirstLastNames);
</script>

{% endblock content %}