{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield, w3InputClass, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {% if w3InputClass == "w3-input" %}
    {{ formfield(class="w3-input w3-section") }}
    {% elif w3InputClass == "w3-select" %}
    {{ formfield(class="w3-select w3-section") }}
    {% else %}
    {{ formfield(class="w3-select w3-section") }}
    {% endif %}
    {% endif %}
</div>
{% endmacro %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-check  w3-section") }}
    {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-bar w3-blue">
    <button id='button_StudentInfoTab' class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'StudentInfoTab')">Student
        Info</button>
    <button id='button_ParentInfoTab' class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'ParentInfoTab','P2MTAdmin')">Parent Info</button>
    <button id='button_StaffInfoTab' class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'StaffInfoTab','P2MTAdmin')">Staff Info</button>
    <button id='button_P2MTSetupTab' class="w3-bar-item w3-button tablink"
        onclick="openTab(event, 'P2MTSetupTab','P2MTAdmin')">P2MT
        Setup</button>
</div>

<div class="infoTab" id="StudentInfoTab">
    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ addStudentForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Add Student</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(addStudentForm.firstName, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.lastName, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.chattStateANumber, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.email, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.yearOfGraduation, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.house, "w3-select", "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.googleCalendarId, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ addStudentForm.submitAddStudent(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>


    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ selectStudentToEditForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Edit Student</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(selectStudentToEditForm.studentName, "w3-select", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ selectStudentToEditForm.submitStudentToEdit(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ downloadStudentListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Download Student List</legend>
                <div class="w3-row w3-padding-large">
                    {{ downloadStudentListForm.submitDownloadStudentListForm(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ uploadStudentListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Upload Student List</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(uploadStudentListForm.csvStudentListFile, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ uploadStudentListForm.submitUploadStudentList(class="w3-btn w3-blue w3-large") }}
                </div>
                <div class="w3-row w3-padding-large">
                    <a href="/templates/student_list_template" target="blank"><i class="fa fa-download fa-fw"></i>
                        Download Template
                    </a>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ deleteStudentForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-red">
                <legend class="w3-xlarge">Delete Student from P2MT Database</legend>
                <p> This action will permamently delete the student from the P2MT database including all associated
                    information such as class schedules, attendance, and interventions. You cannot undo this action.</p>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(deleteStudentForm.studentName, "w3-select", "w3-half") }}
                    {{ macro_display_formfield(deleteStudentForm.confirmDeleteStudent, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ deleteStudentForm.submitDeleteStudent(class="w3-btn w3-red w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="infoTab" id="ParentInfoTab" style="display:none">

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ selectParentsToEditForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Edit Parents</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(selectParentsToEditForm.studentName, "w3-select", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ selectParentsToEditForm.submitParentsToEdit(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ downloadParentsListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Download Parent List</legend>
                <div class="w3-row w3-padding-large">
                    {{ downloadParentsListForm.submitDownloadParentsListForm(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ uploadParentsListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Upload Parents List</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(uploadParentsListForm.csvParentsListFile, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ uploadParentsListForm.submitUploadParentsList(class="w3-btn w3-blue w3-large") }}
                </div>
                <div class="w3-row w3-padding-large">
                    <a href="/templates/parent_list_template" target="blank"><i class="fa fa-download fa-fw"></i>
                        Download Template
                    </a>
                </div>
            </fieldset>
        </form>
    </div>

</div>

<div class="infoTab" id="StaffInfoTab" style="display:none">
    <div class="w3-container w3-padding-large w3-margin-right w3-margin-left w3-section">
        <table class="w3-padding-large w3-table w3-bordered w3-striped w3-hoverable">
            <thead>
                <tr class="w3-blue">
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Position</th>
                    <th scope="col">Email</th>
                    <th scope="col">House</th>
                    <th scope="col">House Grade</th>

                </tr>
            </thead>
            <tbody class="w3-main">
                {% for staff in staffInfo %}
                <tr>
                    <td>{{ staff.firstName }}</td>
                    <td>{{ staff.lastName }}</td>
                    <td>{{ staff.position }}</td>
                    <td>{{ staff.email }}</td>
                    <td>{{ staff.house }}</td>
                    <td>{{ staff.houseGrade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="w3-container w3-section">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ addStaffForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Add Staff Member</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(addStaffForm.firstName, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.lastName, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.position, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.email, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.house, "w3-select", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.houseGrade, "w3-select", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.phoneNumber, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.chattStateANumber, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.myersBriggs, "w3-input", "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.twitterAccount, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ addStaffForm.submitAddStaff(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ selectStaffToEditForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Edit Staff Member</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(selectStaffToEditForm.staffName, "w3-select", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ selectStaffToEditForm.submitStaffToEdit(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ downloadStaffListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Download Staff List</legend>
                <div class="w3-row w3-padding-large">
                    {{ downloadStaffListForm.submitDownloadStaffListForm(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ uploadStaffListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Upload Staff List</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(uploadStaffListForm.csvStaffListFile, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ uploadStaffListForm.submitUploadStaffList(class="w3-btn w3-blue w3-large") }}
                </div>
                <div class="w3-row w3-padding-large">
                    <a href="/templates/staff_list_template" target="blank"><i class="fa fa-download fa-fw"></i>
                        Download Template
                    </a>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ deleteStaffForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-red">
                <legend class="w3-xlarge">Delete Staff from P2MT Database</legend>
                <p> This action will permamently delete the staff member from the P2MT database. This action
                    will NOT
                    affect
                    associated
                    information such as class schedules, attendance, and interventions. You cannot undo this
                    action.</p>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(deleteStaffForm.staffName, "w3-select", "w3-half") }}
                    {{ macro_display_formfield(deleteStaffForm.confirmDeleteStaff, "w3-input", "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ deleteStaffForm.submitDeleteStaff(class="w3-btn w3-red w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="infoTab" id="P2MTSetupTab" style="display:none">
    <div class="w3-container w3-padding-large w3-margin-right w3-margin-left w3-section">
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <h3>Setup P2MT</h3>
            <p>Use Setup P2MT to set these initial configurations for P2MT:</p>
            <ul>
                <li>Initialize types of interventions and max intervention levels</li>
                <ul>
                    <li>Conduct Behavior (Max Level: 6)</li>
                    <li>Academic Behavior (Max Level: 4)</li>
                    <li>Attendance (Max Level: 3)</li>
                    <li>Dress Code (Max Level: 6)</li>
                    <li>Bullying/Harrassment (Max Level: 4)</li>
                    <li>Extended Remediation (Max Level: 1)</li>
                </ul>
                <li>Initialize the School Calendar *</li>
                <ul>
                    <li>Start Date = Monday, August 3, 2020</li>
                    <li>End Date = Friday, June 4, 2021</li>
                    <li>Set Mon-Fri as STEM School Days and Phase II Days </li>
                    <li>Set all Wednesdays as Start TMI Period dates</li>
                    <li>Set all Fridays as TMI Days</li>
                </ul>
            </ul>
            <p> * It will be necessary to manually update school calendar days after initialization</p>
            <p>Running Setup P2MT again will not overwrite any manual changes</p>
            <a href="{{url_for('main_bp.setupP2mt')}}" target="blank" class="w3-btn w3-blue w3-large">Setup P2MT</a>
        </fieldset>
    </div>
    <div class="w3-container w3-padding-large w3-margin-right w3-margin-left w3-section">
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <h3>Configure P2MT for Testing</h3>
            <p>Use Configure P2MT for Testing to set these settings for P2MT:</p>
            <ul>
                <li>Set null attendance values to P (present) for attendance logs through August 21, 2020</li>
            </ul>
            <a href="{{url_for('main_bp.testP2mt')}}" target="blank" class="w3-btn w3-blue w3-large">Configure P2MT for
                Testing</a>
        </fieldset>
    </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename="js/pageTabs.js") }}"></script>
<!-- Reload page to last loaded tab -->
<script type='text/javascript'>
    document.addEventListener("DOMContentLoaded", function (event) {
        selected_tab = 'P2MTAdmin_selected_tab';
        var selectedTab = sessionStorage.getItem(selected_tab);
        if (selectedTab) {
            document.getElementById("button_" + selectedTab).click();
        } else {
            document.getElementById("button_StudentInfoTab").click();
        }
    });
</script>
{% endblock content %}