{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-select  w3-section") }}
    {% endif %}
</div>
{% endmacro %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-check  w3-section") }}
    {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-bar w3-blue">
    <button class="w3-bar-item w3-button tablink w3-black" onclick="openTab(event, 'StudentInfoTab')">Student
        Info</button>
    <button class="w3-bar-item w3-button tablink" onclick="openTab(event, 'StaffInfoTab')">Staff Info</button>
</div>

<div class="infoTab" id="StudentInfoTab">
    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ addStudentForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Add Student</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(addStudentForm.firstName, "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.lastName, "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.chattStateANumber, "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.email, "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.yearOfGraduation, "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.house, "w3-half") }}
                    {{ macro_display_formfield(addStudentForm.googleCalendarId, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ addStudentForm.submitAddStudent(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>


    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ selectStudentToEditForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Edit Student</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(selectStudentToEditForm.studentName, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ selectStudentToEditForm.submitStudentToEdit(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ uploadStudentListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Upload Student List</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(uploadStudentListForm.csvStudentListFile, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ uploadStudentListForm.submitUploadStudentList(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ deleteStudentForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Delete Student from P2MT Database</legend>
                <p> This action will permamently delete the student from the P2MT database including all associated
                    information such as class schedules, attendance, and interventions. You cannot undo this action.</p>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(deleteStudentForm.studentName, "w3-half") }}
                    {{ macro_display_formfield(deleteStudentForm.confirmDeleteStudent, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ deleteStudentForm.submitDeleteStudent(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="infoTab" id="StaffInfoTab" style="display:none">
    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ addStaffForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Add Staff Member</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(addStaffForm.firstName, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.lastName, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.position, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.email, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.phoneNumber, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.chattStateANumber, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.myersBriggs, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.house, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.houseGrade, "w3-half") }}
                    {{ macro_display_formfield(addStaffForm.twitterAccount, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ addStaffForm.submitAddStaff(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ uploadStaffListForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Upload Staff List</legend>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(uploadStaffListForm.csvStaffListFile, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ uploadStaffListForm.submitUploadStaffList(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>

    <div class="w3-container">
        <form class="w3-container w3-padding-large" method="POST"
            action="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}" enctype="multipart/form-data">
            {{ deleteStaffForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
                <legend class="w3-xlarge">Delete Staff from P2MT Database</legend>
                <p> This action will permamently delete the staff member from the P2MT database. This action will NOT
                    affect
                    associated
                    information such as class schedules, attendance, and interventions. You cannot undo this action.</p>
                <div class="w3-row-padding">
                    {{ macro_display_formfield(deleteStaffForm.staffName, "w3-half") }}
                    {{ macro_display_formfield(deleteStaffForm.confirmDeleteStaff, "w3-half") }}
                </div>
                <div class="w3-row w3-padding-large">
                    {{ deleteStaffForm.submitDeleteStaff(class="w3-btn w3-blue w3-large") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename="js/pageTabs.js") }}"></script>

{% endblock content %}