{% extends 'layout.html'%}
{% block content %}
<h2> Schedule Admin </h2>

{% macro macro_display_formfield(formfield) %}
<div class="form-group">
  {{ formfield.label(class="form-control-label") }}
  {% if formfield.errors %}
  {{ formfield(class="form-control form-control-sm is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="form-control form-control-sm") }}
  {% endif %}
</div>
{% endmacro %}

<div class="content-section">
  <form method="POST" action="{{ url_for('displayScheduleAdmin') }}" enctype="multipart/form-data">
    {{ uploadClassScheduleForm.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Upload Class Schedule</legend>
      <div class="row">
        {{ macro_display_formfield(uploadClassScheduleForm.csvClassScheduleFile) }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ uploadClassScheduleForm.submitUploadClassSchedule(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="content-section">
  <form method="POST" action="{{ url_for('displayScheduleAdmin') }}" enctype="multipart/form-data">
    {{ propagateClassAttendanceLogsForm.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Propagate Class Attendance Logs</legend>

      <div class="row">
        {{ macro_display_formfield(propagateClassAttendanceLogsForm.schoolYear) }}
        {{ macro_display_formfield(propagateClassAttendanceLogsForm.semester) }}
        {{ macro_display_formfield(propagateClassAttendanceLogsForm.startDate) }}
        {{ macro_display_formfield(propagateClassAttendanceLogsForm.endDate) }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ propagateClassAttendanceLogsForm.submitPropagatelassAttendanceLogs(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="content-section">
  <form method="POST" action="{{ url_for('displayScheduleAdmin') }}" enctype="multipart/form-data">
    {{ addSingleClassSchedule.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Add Class Schedule for Single Student</legend>
      <div class="row">
        {{ macro_display_formfield(addSingleClassSchedule.schoolYear) }}
        {{ macro_display_formfield(addSingleClassSchedule.semester) }}
        {{ macro_display_formfield(addSingleClassSchedule.studentName) }}
        {{ macro_display_formfield(addSingleClassSchedule.campus) }}
        {{ macro_display_formfield(addSingleClassSchedule.className) }}
        {{ macro_display_formfield(addSingleClassSchedule.teacherName) }}
        <div class="form-group">
          {{ addSingleClassSchedule.classDays.label(class="form-control-label") }}
          {% if addSingleClassSchedule.classDays.errors %}
          {{ addSingleClassSchedule.classDays(class="form-control form-control-sm is-invalid") }}
          <div class="invalid-feedback">
            {% for error in addSingleClassSchedule.classDays.errors %}
            <span>{{ error }}</span>
            {% endfor %}
          </div>
          {% else %}
          {% for choice in addSingleClassSchedule.classDays %}
          <div class="form-check">
            {{ choice(class="form-check-input") }}
            {{ choice.label(class="form-check-label") }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        {{ macro_display_formfield(addSingleClassSchedule.startTime) }}
        {{ macro_display_formfield(addSingleClassSchedule.endTime) }}
        {{ macro_display_formfield(addSingleClassSchedule.online) }}
        {{ macro_display_formfield(addSingleClassSchedule.indStudy) }}
        {{ macro_display_formfield(addSingleClassSchedule.comment) }}
        {{ macro_display_formfield(addSingleClassSchedule.googleCalendarEventID) }}
    </fieldset>
    <div class="form-group">
      {{ addSingleClassSchedule.submitAddSingleClassSchedule(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="content-section">
  <form method="POST" action="{{ url_for('displayScheduleAdmin') }}" enctype="multipart/form-data">
    {{ deleteClassScheduleForm.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Delete Entire Semester Class Schedule</legend>
      <div class="row">
        {{ macro_display_formfield(deleteClassScheduleForm.schoolYear) }}
        {{ macro_display_formfield(deleteClassScheduleForm.semester) }}
        {{ macro_display_formfield(deleteClassScheduleForm.confirmDeleteClassSchedule) }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ deleteClassScheduleForm.submitDeleteClassScheduleForm(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="content-section">
  <form method="POST" action="{{ url_for('displayScheduleAdmin') }}" enctype="multipart/form-data">
    {{ downloadClassScheduleForm.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Download Entire Semester Class Schedule</legend>
      <div class="row">
        {{ macro_display_formfield(downloadClassScheduleForm.schoolYear) }}
        {{ macro_display_formfield(downloadClassScheduleForm.semester) }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ downloadClassScheduleForm.submitDownloadClassScheduleForm(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

<div class="content-section">
  <form method="POST" action="{{ url_for('displayScheduleAdmin') }}" enctype="multipart/form-data">
    {{ downloadClassAttendanceForm.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Download Class Attendance Roster</legend>
      <div class="row">
        {{ macro_display_formfield(downloadClassAttendanceForm.schoolYear) }}
        {{ macro_display_formfield(downloadClassAttendanceForm.semester) }}
        {{ macro_display_formfield(downloadClassAttendanceForm.teacherName) }}
        {{ macro_display_formfield(downloadClassAttendanceForm.startDate) }}
        {{ macro_display_formfield(downloadClassAttendanceForm.endDate) }}
      </div>
    </fieldset>
    <div class="form-group">
      {{ downloadClassAttendanceForm.submitDownloadClassAttendanceForm(class="btn btn-outline-info") }}
    </div>
  </form>
</div>

{% endblock content %}