{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-check") }}
    {{ formfield.label() }}
    {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-panel">
    <h3>Important: Set these day correctly</h3>
    <p>STEM School Day - Reserved for future use </p>
    <p>Phase II Day - Used in calculating attendance rosters for normal class days</p>
    <p>ER Days - Used in calculating attendance rosters for ER </p>
    <p>UP Days - Used in calculating attendance rosters for UP Days </p>
    <p> Start TMI Period - Used to detemine the start date for calculating TMI (normally Wednesday) </p>
    <p> TMI Day - The day when TMI is served (normally Friday)</p>
    <p> Note: The end date for calculating TMI is automatically set to the day before the next Start TMI Period date</p>
</div>

<div class="w3-container w3-row w3-center" , id="myStickyHeader">
    <div class="w3-col s1">
        <p></p>
    </div>
    <div class="w3-col s2 w3-blue w3-border">
        <p>Monday</p>
    </div>
    <div class="w3-col s2 w3-blue w3-border">
        <p>Tuesday</p>
    </div>
    <div class="w3-col s2 w3-blue w3-border">
        <p>Wednesday</p>
    </div>
    <div class="w3-col s2 w3-blue w3-border">
        <p>Thursday</p>
    </div>
    <div class="w3-col s2 w3-blue w3-border">
        <p>Friday</p>
    </div>
</div>

<form method="POST" action="{{ url_for('schoolCalendar_bp.displaySchoolCalendar') }}" enctype="multipart/form-data">
    {{ schoolCalendarForm.hidden_tag() }}

    <div class="content">
        <div class="w3-container w3-row">
            <div class="w3-col s1">
                <p></p>
            </div>
            {% for schoolCalendarDate, schoolCalendarDaysFieldList in zip(schoolCalendarDates, schoolCalendarForm.schoolCalendarDays) %}
            <div class="w3-col s2 w3-pale-green w3-border">
                {{ schoolCalendarDaysFieldList.hidden_tag() }}
                <p class="w3-center"> {{ schoolCalendarDate.classDate.strftime('%a %b %-d %Y') }} </p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.stemSchoolDay, "w3-padding-small" ) }} </p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.phaseIISchoolDay, "w3-padding-small" ) }} </p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.seniorErDay, "w3-padding-small" ) }} </p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.juniorErDay, "w3-padding-small" ) }} </p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.seniorUpDay, "w3-padding-small" ) }} </p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.juniorUpDay, "w3-padding-small" ) }}</p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.startTmiPeriod, "w3-padding-small" ) }}</p>
                <p> {{ macro_display_checkbox(schoolCalendarDaysFieldList.tmiDay, "w3-padding-small" ) }}</p>
            </div>
            <!-- End div and start new div after week of five days  -->
            {% if loop.index is divisibleby(5) %}
        </div>
        <div class="w3-container w3-row">
            <div class="w3-col s1">
                <p></p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
</form>

<!-- Script used with css to create sticky header per example here-->
<!-- https://www.w3schools.com/howto/howto_js_sticky_header.asp -->
<!-- Note: sticky adjusted -40 px based on experimenting with scroll behavior -->
<!-- The value of 40 px is likely necessary due to the top nav bar -->
<!-- The sticy header behavior requires using id=content and id=myStickyHeader -->
<script>
    window.onscroll = function () { myStickyFunction() };
    var header = document.getElementById("myStickyHeader");
    var sticky = header.offsetTop - 40;
    function myStickyFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
</script>

<script>
    // Keep track of the scroll position so the page reloads to the same position 
    // after submitting form (prevents page from reloading to top of page 
    // when updating records further down the page)
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };

    // Set event listerners for updates to radio buttons
    var checkboxes = document.querySelectorAll("input[type=checkbox]");
    for (i = 0; i < checkboxes.length; i++) {
        checkboxes[i].addEventListener("click", function () { submitUpdate(event); });
    }

    // Submit update to attendance on changes to attendanceCode or comment
    function submitUpdate(event) {
        // Identify the form which was updated
        trigger_field = document.getElementById(event.target.id);
        console.log('trigger_field = ' + trigger_field);
        form = trigger_field.form;
        console.log('trigger_form = ' + form)

        // Update the hidden fields to capture the teacher name, class name, and class date
        event_id = event.target.id;
        event_split_id = event_id.split('-');
        schoolDayHiddenInput_id = event_split_id[0] + '-' + event_split_id[1] + '-updateFlag';
        console.log(schoolDayHiddenInput_id)
        document.getElementById(schoolDayHiddenInput_id).value = 'updated';
        form.submit();
    }

</script>

{% endblock content %}