{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
  {{ formfield.label(class="w3-text-green w3-large") }}
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-select w3-section") }}
  {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green">
  <h2>{{title}}</h2>
</div>

<table class="w3-table-all w3-hoverable">
  <thead class="w3-light-grey">
    <tr>
      <th scope="col">A#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Year of Graduation</th>
      <th scope="col">House</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">{{ student.chattStateANumber }}</th>
      <th>{{ student.firstName }}</th>
      <th>{{ student.lastName }}</th>
      <td>{{ student.email }}</td>
      <td>{{ student.yearOfGraduation }}</td>
      <td>{{ student.house }}</td>
      <td><button type="button" class="w3-btn w3-green"
          onclick="document.getElementById('addAttendanceModal{{student.id}}').style.display='block'">Attendance</button>
      </td>
      <td><button type="button" class="w3-btn w3-green"
          onclick="document.getElementById('addInterventionModal{{student.id}}').style.display='block'">Intervention</button>
      </td>

    </tr>
    <!-- Attendance Modal -->
    <div class="w3-modal" id="addAttendanceModal{{student.id}}">
      <div class="w3-container">
        <div class="w3-modal-content" style="width:50%">
          <header class="w3-container w3-green">
            <span onclick="document.getElementById('addAttendanceModal{{student.id}}').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <h2>New Daily Attendance</h2>
          </header>
          <form class="w3-container w3-padding-large" method="POST" action="{{ url_for('displayStudents') }}"
            enctype="multipart/form-data">
            {{ dailyAttendanceForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
              {{ dailyAttendanceForm.studentID(value = student.id, class="w3-hide") }}
              <legend class="w3-xlarge">{{student.firstName}} {{student.lastName}}</legend>
              <div class="w3-row-padding">
                {{ macro_display_formfield(dailyAttendanceForm.absenceDate, "w3-half") }}
                {{ macro_display_formfield(dailyAttendanceForm.attendanceCode, "w3-half") }}
                {{ macro_display_formfield(dailyAttendanceForm.comment, "w3-half") }}
              </div>
            </fieldset>
            <footer class="w3-container w3-margin-top w3-white w3-center">
              <div class="w3-bar">
                <button type="button" class="w3-button w3-large"
                  onclick="document.getElementById('addAttendanceModal{{student.id}}').style.display='none'">Cancel</button>
                {{ dailyAttendanceForm.submitDailyAttendance(class="w3-btn w3-blue w3-large") }}
              </div>
            </footer>
          </form>
        </div>
      </div>
    </div>

    <!-- Intevention Modal -->
    <div class="w3-modal" id="addInterventionModal{{student.id}}">
      <div class="w3-container">
        <div class="w3-modal-content" style="width:50%">
          <header class="w3-container w3-green">
            <span onclick="document.getElementById('addInterventionModal{{student.id}}').style.display='none'"
              class="w3-button w3-display-topright">&times;</span>
            <h2>New Intervention</h2>
          </header>
          <form class="w3-container w3-padding-large" method="POST" action="{{ url_for('displayStudents') }}"
            enctype="multipart/form-data">
            {{ interventionForm.hidden_tag() }}
            <fieldset class="w3-container w3-padding-large w3-hover-border-green">
              {{ interventionForm.studentID(value = student.id, class="w3-hide") }}
              <legend class="w3-xlarge">{{student.firstName}} {{student.lastName}}</legend>
              <div class="w3-row-padding">
                {{ macro_display_formfield(interventionForm.interventionType, "w3-half") }}
                {{ macro_display_formfield(interventionForm.interventionLevel, "w3-half") }}
                {{ macro_display_formfield(interventionForm.startDate, "w3-half") }}
                {{ macro_display_formfield(interventionForm.endDate, "w3-half") }}
                {{ macro_display_formfield(interventionForm.comment, "w3-half") }}
              </div>
            </fieldset>
            <footer class="w3-container w3-margin-top w3-white w3-center">
              <div class="w3-bar">
                <button type="button" class="w3-button w3-large"
                  onclick="document.getElementById('addInterventionModal{{student.id}}').style.display='none'">Cancel</button>
                {{ interventionForm.submitIntervention(class="w3-btn w3-blue w3-large") }}
              </div>
            </footer>
          </form>
        </div>
      </div>
    </div>


    {% endfor %}
  </tbody>
</table>


{% endblock content %}