{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield) %}
<div class="w3-third">
  {{ formfield.label(class="w3-text-green w3-large") }}
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-select w3-border") }}
  {% endif %}
</div>
{% endmacro %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
  <!-- {{ formfield.label(class="w3-text-green w3-large") }} -->
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-check") }}
  {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
  <div class="w3-third">
    <h2>{{title}}</h2>
  </div>
</div>

<div class="w3-container">

  <div class="w3-row-padding">
    <div class="w3-third">
      <p>Start Date for TMI Period: {{ startTmiPeriod.strftime('%a %b %-d') }}</p>
      <p>End Date for TMI Period: {{ endTmiPeriod.strftime('%a %b %-d') }}</p>
      <p>TMI Date: {{ tmiDay.strftime('%a %b %-d') }}</p>
    </div>
  </div>

  <table class="w3-table w3-border w3-bordered w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th></th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>TMI Minutes</th>
        <th>Intervention Status</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody id="interventionLog">
      {% for studentTmiLog in tmiInterventionLog %}
      <tr class="w3-light-grey w3-hover-grey" style="visibility:visible;"
        onclick="activateAccordion(this,'accordion_{{studentTmiLog.id}}')" data-rowType="selectorRow"
        data-identifier="accordion_{{studentTmiLog.id}}">
        <td><i class="fa fa-caret-right fa-fw" </i></td>
        <td> {{ studentTmiLog.Student.firstName }}</td>
        <td> {{ studentTmiLog.Student.lastName }} </td>
        <td> {{ studentTmiLog.tmiMinutes }}</td>
        <td> {{ studentTmiLog.comment }}</td>
        <td> {{ studentTmiLog.createDate.strftime('%a %b %-d') }}</td>
      </tr>
      <tr class="w3-amber" style="visibility:collapse;"
        onclick="activateAccordion(this,'accordion_{{studentTmiLog.id}}')"
        data-identifier="accordion_{{studentTmiLog.id}}">
        <th class="w3-hide"> {{ studentTmiLog.Student.firstName }} </th>
        <th class="w3-hide"> {{ studentTmiLog.Student.lastName }}</th>
        <th></th>

        <th>Class:</th>
        <th>Date:</th>
        <th>Attendance:</th>
        <th>Teacher:</th>
        <th></th>
      </tr>
      {% for studentFixedFields in classAttendanceFixedFields %}
      {% if studentFixedFields.ClassSchedule.Student.id == studentTmiLog.student_id %}
      <tr class="w3-amber" style="visibility:collapse;"
        onclick="activateAccordion(this,'accordion_{{studentTmiLog.id}}')"
        data-identifier="accordion_{{studentTmiLog.id}}">
        <td class="w3-hide"> {{ studentTmiLog.Student.firstName }} </td>
        <td class="w3-hide"> {{ studentTmiLog.Student.lastName }}</td>
        <td></td>

        <td>{{ studentFixedFields.ClassSchedule.className }}</td>
        <td>{{ studentFixedFields.classDate.strftime('%a %b %-d') }}</td>
        <td>{{ studentFixedFields.attendanceCode }}</td>
        <td>{{ studentFixedFields.ClassSchedule.teacherLastName }}</td>
        <td></td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  // Keep track of the scroll position so the page reloads to the same position 
  // after submitting attendance (prevents page from reloading to top of page 
  // when updating attendance records further down the page)
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

<script type="text/javascript" src="{{ url_for('static', filename="js/activateAccordion.js") }}"></script>

{% endblock content %}