{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield) %}
<div class="w3-third">
  {{ formfield.label(class="w3-text-green w3-large") }}
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-select w3-border") }}
  {% endif %}
</div>
{% endmacro %}

{% macro macro_display_checkbox(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
  <!-- {{ formfield.label(class="w3-text-green w3-large") }} -->
  {% if formfield.errors %}
  {{ formfield(class="w3-select is-invalid") }}
  <div class="invalid-feedback">
    {% for error in formfield.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
  {% else %}
  {{ formfield(class="w3-check") }}
  {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
  <div class="w3-third">
    <h2>{{title}}</h2>
  </div>
  <div>
    <input type="text" class="w3-third w3-margin w3-padding" size="25" id="searchFilter"
      placeholder="Search by student name...">
  </div>
</div>

<div class="w3-container">

  <div class="w3-row-padding">
    <div class="w3-third">
      <p>Start Date for TMI Period: {{ startTmiPeriod.strftime('%a %b %-d') }}</p>
      <p>End Date for TMI Period: {{ endTmiPeriod.strftime('%a %b %-d') }}</p>
      <p>TMI Date: {{ tmiDay.strftime('%a %b %-d') }}</p>
    </div>
  </div>

  <table class="w3-table w3-border w3-bordered w3-hoverable">
    <thead>
      <tr class="w3-blue">
        <th>First Name</th>
        <th>Last Name</th>
        <th>TMI Minutes</th>
        <th>Intervention Status</th>
        <th>Timstamp</th>
      </tr>
    </thead>
    <tbody id="interventionLog">
      {% for studentTmiLog in tmiInterventionLog %}
      <tr onclick="activateAccordion('classInfo_{{studentTmiLog.id}}')">
        <td> {{ studentTmiLog.Student.firstName }}</td>
        <td> {{ studentTmiLog.Student.lastName }} </td>
        <td> {{ studentTmiLog.tmiMinutes }}</td>
        <td> {{ studentTmiLog.comment }}</td>
        <td> {{ studentTmiLog.createDate.strftime('%a %b %-d') }}</td>
      </tr>
      {% for studentFixedFields in classAttendanceFixedFields %}
      {% if studentFixedFields.ClassSchedule.Student.id == studentTmiLog.student_id %}
      <tr class="w3-white w3-hide" data-identifier="classInfo_{{studentTmiLog.id}}">
        <td></td>
        <td>{{ studentFixedFields.ClassSchedule.className }}</td>
        <td>{{ studentFixedFields.classDate.strftime('%a %b %-d') }}</td>
        <td>{{ studentFixedFields.attendanceCode }}</td>
        <td>{{ studentFixedFields.ClassSchedule.teacherLastName }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Search Filter -->
<script type="text/javascript" src="{{ url_for('static', filename="js/searchFilters.js") }}"></script>
<script>
  var tableBody = document.getElementById('interventionLog');
  var searchFilter = document.getElementById('searchFilter');
  searchFilter.firstNameCellPosition = 0;
  searchFilter.lastNameCellPosition = 1;
  searchFilter.addEventListener('keyup', filterFirstLastNames);
</script>

<script>
  // Keep track of the scroll position so the page reloads to the same position 
  // after submitting attendance (prevents page from reloading to top of page 
  // when updating attendance records further down the page)
  document.addEventListener("DOMContentLoaded", function (event) {
    var scrollpos = localStorage.getItem('scrollpos');
    if (scrollpos) window.scrollTo(0, scrollpos);
  });

  window.onbeforeunload = function (e) {
    localStorage.setItem('scrollpos', window.scrollY);
  };
</script>

<script>
  function activateAccordion(data_id) {
    var x = document.querySelectorAll("[data-identifier=" + data_id + "]");
    for (i = 0; i < x.length; i++) {
      if (x[i].className.indexOf("w3-show") == -1) {
        x[i].className += " w3-show";
      } else {
        x[i].className = x[i].className.replace(" w3-show", "");
      }
    }
  }


</script>

{% endblock content %}