{% extends 'layout.html'%}
{% block content %}

{% macro macro_display_formfield(formfield, w3ResponsiveGridClass) %}
<div class="{{w3ResponsiveGridClass}}">
    {{ formfield.label(class="w3-text-green w3-large") }}
    {% if formfield.errors %}
    {{ formfield(class="w3-select is-invalid") }}
    <div class="invalid-feedback">
        {% for error in formfield.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    {{ formfield(class="w3-select  w3-section") }}
    {% endif %}
</div>
{% endmacro %}

<div class="w3-container w3-green w3-row">
    <div class="w3-third">
        <h2>{{title}}</h2>
    </div>
</div>

<div class="w3-container">
    <form class="w3-container w3-padding-large" method="POST"
        action="{{ url_for('p2mtAdmin_bp.updateParents', chattStateANumber=updateParentsForm.chattStateANumber.data) }}"
        enctype="multipart/form-data">
        {{ updateParentsForm.hidden_tag() }}
        <fieldset class="w3-container w3-padding-large w3-hover-border-green">
            <legend class="w3-xlarge">Parents Info for {{ studentName }}</legend>
            <div class="w3-row-padding">
                {{ macro_display_formfield(updateParentsForm.guardianship, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.guardianEmail, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.motherName, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.motherEmail, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.motherHomePhone, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.motherDayPhone, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.fatherName, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.fatherEmail, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.fatherHomePhone, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.fatherDayPhone, "w3-half") }}
                {{ macro_display_formfield(updateParentsForm.comment, "w3-half") }}
            </div>
            <div class="w3-row w3-padding-large">
                <a class="w3-btn w3-border-blue w3-large"
                    href="{{ url_for('p2mtAdmin_bp.displayP2MTAdmin') }}">Cancel</a>
                {{ updateParentsForm.submitUpdateParents(class="w3-btn w3-blue w3-large") }}
            </div>
        </fieldset>
    </form>
</div>

{% endblock content %}